body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #2e2e53;
}

ul.bots > li{
  vertical-align: top;
  /* make list elements fall inline as block elements */
  position: relative;
  display: inline-block;
  /* next two lines only for display purposes */
  text-align: center;
}

div.console_container{
  background: #39395a;
  height: 20rem;
  max-height: 20rem;
  white-space: pre-line;
  margin: 1rem;
  padding: 1rem;
}

p.console_text{
  padding:0;
  margin:0;
  height: 95%;
  overflow-y: auto;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box;
  background: #c2c2c2;
}

input#console_input{
  margin-top: 0.5rem;
  width: 100%;
  background: #c2c2c2;
}

ul.bots{
  text-align:center;
}


div.bots_containers{
  background: #2e2e53;
}

div.bot_container{
  background: #39395a;
  width: 20rem;
  height: 35rem;
  text-align: center;
  margin: 1vw;
}

ul.buttons_list > li{
  /* make list elements fall inline as block elements */
  position: relative;
  display: inline-block;
  text-align: center;
}

ul.buttons_list{
  text-align: center;
  margin: 0;
  padding: 0;
}

button.quick_button{
  width: 10rem;
  height: 4rem;
  margin: 1rem;
}
